@import "tailwindcss";

@theme {
    --color-primary-color: #1d3531;
    --spacing-grid: 77.5rem;
    --color-green-border: #2a4b46;
    --color-green-activity: #5d8a83;
    --color-green-btn: #ccec60;
    --color-green-title-cards: #719d96;
    --spacing-sectionHero: 54.625rem;
    --spacing-text-hero: 66rem;
    --spacing-area-item: 53.4375rem;
    --spacing-area-mockups: 59.8125rem;
    --spacing-area-cards: 82.5rem;
    --spacing-area-cards-internal: 35.1rem;

}

